body {
    padding-top: 56px; /* Navbar'ın kapladığı alanı telafi etmek için */
}

header, nav {
    background-color: #ffffff;
    color: #fff;
    padding: 10px;
    text-align: left;
}

.logo {
    max-width: 100%; /* Logo'nun genişliği, içerdiği kutucuğun genişliğine uyacak şekilde ayarlandı */
    height: auto; /* Oranları korumak için otomatik yükseklik ayarı */
    margin-left: 10px; /* Sol kenara 10 piksel boşluk bırakma */
}

.nav-link {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.nav-link img {
    max-width: 100%; /* Resmin genişliğini ayarla */
    height: auto; /* Oranları korumak için otomatik yükseklik ayarı */
    margin-right: 5px; /* Resimler arasında biraz boşluk bırakma */
}

    nav {
        text-align: right; /* Nav içindeki bağlantıları sağa hizala */
        display: flex;
        gap: 32px;
        justify-content: flex-end; /* Bağlantıları sağ üste hizala */
        padding-right: 100px;
    }
    .Ham {
        text-align: right;
    }

    .rectangle1 {
        width: 1902px;
        height: 1238px;
background: var(--primary-black, #0B0B0B);
flex-shrink: 0;



    }
    .rectangle1>h1 {
     
        float: left;
    color: var(--primary-white, #FFF);
    font-family: Roboto Condensed;
    font-size: 115px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
    text-transform: uppercase;
    padding: 20px;
    z-index: 100;
    position: relative;
    margin: 20px;
    left: 220px;
    width: 867px;
    height: 343px;
    flex-shrink: 0;
    margin-bottom: 10px;

    }
    .Group47354 {
        right: 0;
    width: 965px;
    height: 690.316px;
    float: right;
    display: flex;
    position: absolute;




}
    .Rectangle76 {
        width: 402px;
height: 690px;
flex-shrink: 0;
background-color: #D4292F;


    }
    .ComprehensiveVehicleInsurance {
        color: var(--primary-white, #0a0606);
        font-family: Roboto Condensed;
        font-size: 106px;
        font-style: normal;
        font-weight: 400;
        line-height: 109px; /* 102.83% */
        text-transform: uppercase;
    }
    
.aciklama h2 {
    color: var(--primary-white, #FFF);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.36px;
    position: absolute;
    left: 231px;
    top: 843px;
}
:root {
    --primary-white: #FFF;
    --primary-blue: #007bff;
}

.container {
    text-align: center;
    padding: 20px;
}

.detailed-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(gray);
    color: var(--primary-white);
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    transition: background-color 0.3s ease;
    top: 982px;
    left: 241px;
}

.detailed-button::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid var(dark --primary-white);
    border-radius: 7px;
    z-index: -1;
}

.detailed-button:hover {
    background-color: rgb(140, 168, 198);
}
.Rectangle83 {
    position: absolute;
    top: 1083px;
    left: 239px;
    border-radius: 0px 104px 0px 0px;
    background: var(--primary-red, #E0353B);
    z-index: 1;
}
.Baslik h2 {
    color: var(--primary-white, #FFF);
    font-family: Roboto Condensed;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    position: absolute;
    top: 1000px;
    right: 607px;
}
.baslikparagraf h1 {
    color: #B9B9B9;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.32px;
    position: absolute;
    top: 1132px;
    left: 992px;
    height: auto;
}
.learnmore::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid var(dark --primary-white);
    border-radius: 7px;
    z-index: -3;
}

.learnmore {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(gray);
    color: var(--primary-white);
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    transition: background-color 0.3s ease;
    top: 1310px;
    left: 1100px;
}

.learnmore:hover {
    background-color: rgb(140, 168, 198);
}
   
